.navbar-header a:first-letter{
	text-transform: uppercase;
	font-size: 2em;
}
.header ul:nth-of-type(1){
	padding-left: 140px;

}
.header{
	margin: -9px;
}
.heading{
	margin: 111px;
	text-align: center;
	font-size: 20px;
}
.image-01{
	height: 400px;
	background: linear-gradient(-45deg, orange, red);
	text-transform: capitalize;
	text-align: center;
	padding: 80px;
}
.image-01 button{
	border-radius: 12px;
	border: none;
	box-shadow: 0px 25px 55px 0px rgba(0, 0, 0, 0.21)
	/*display: block;*/
}
.image-01 button:hover{
	border-radius: 12px;
	box-shadow: 0px 25px 55px 0px rgba(0, 0, 0, 0.21)
	border: none;
	position: relative;
	overflow: hidden;
	/*display: block;*/
}
.pic{
	height: 500px;
	background: linear-gradient(45deg, black, grey);
	
}
.pic-content{
	margin-top: 5%;
}
.pic p:first-letter{
	text-transform: uppercase;
	
}
.pic p{
	font-family: 'Raleway', sans-serif;
	color: white;
	font-style: italic;
	text-align: justify;
	text-align-last: center;
	word-spacing: 3px;
	font-size: 20px;
	/*padding-left: 106px;
    padding-top: 81px;*/
}
.image-01 button{
	border-style: none;
}

.top-image{
	height: 233px;
	width: 333px;
	margin-left: -180px;
    margin-top: 55px;
	border-radius: 8px;
	border-style: none;
	box-shadow: 0px 50px 55px 0px #363636;
	position: absolute;
	z-index: 2;
 
}
.bottom-image{
	height: 233px;
	width: 379px;
	/*margin:37px 0px 0px -3px;*/
	border-radius: 8px;
	border-style: none;
	box-shadow: 0px 50px 55px 0px #363636;
	position: relative;
	/*vertical-align: top;*/
}

#image-02 img:nth-of-type(3){
	margin-left: 0px;
    margin-top: -80px;
	height: 233px;
	width: 333px;
	z-index: 3;
	/*margin:0px 0px 0px;*/
	border-radius: 8px;
	border-style: none;
	box-shadow: 0px 50px 55px 0px #363636;
	position: relative;
}
#thumb{
	color: black;
	background-color:#ffc6b3;
	min-height: 120px;
	width: 100%;
	padding: 0px;
	border: 0px solid transparent;
	background-color:#ffc6b3;
	color: white;
	box-shadow: 0px 0px 20px 0px rgba(54, 54, 54, 0.68), 0px 0px 20px 0px rgba(54, 54, 54, 0.68), 0px 0px 10px 0px rgba(54, 54, 54, 0.68);
}
.gallery {
	
	color: black;
	background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(249, 248, 247);
	/*overflow: hidden;*/

}

.gallery h3,p{
	text-align: center;
	text-align:justify;
	font-family: 'Lora', serif;
}
footer{
	color: white;
	text-align: center;
	margin: -9px;
}
.dot{
	position: relative;
	font-size: 50px
	color:blue;
}

.skw{
	height:  500px;
	    background: linear-gradient(45deg, rgba(255, 173, 51, 0.94), rgb(255, 48, 0));
	/*background-image: url("file:///C:/Users/ADMIN/Pictures/pexels-photo-363622.jpg");*/
	transform: skewY(-2deg);
	position: relative;
	z-index: -1;
	overflow: hidden;
	width: 100%;
	top: -33px;
}

.i{
	font-size: 50px;
	text-align: center;
	padding: 20px;
	/*
	z-index: 2;
	transform: skewY(2deg); 
	margin-top: 100px;
	border: 1px solid black;
	width: 50%;
*/
}
.icon li {
	float: right;
    height: 125px;
    width: 180px;
    text-transform: uppercase;
    list-style: none;
    font-weight: bold;
    font-size: 20px;
    border-radius: 3px;
    text-align: center;
    margin: 10px;
    box-shadow: 0px 50px 155px 0px rgba(54, 54, 54, 0.68);
    /* margin-top: 10%; */
    background-color: #d9d9d9;
}
.icon p{
	text-align: center;
}
.i p{
	text-align:center;
}
.contt{
	/*display: block;
	position: fixed;*/
	transform: skewY(2deg);
	padding-top: 48px;
}
.contt h2{
	text-align: center;
	text-transform: uppercase;
	font-size: 40px;
	font-family: 'Arimo', sans-serif;
	margin-top: 20px;
}
.hr{
	width: 75%;
	border: 2px solid #b3b3b3;
}
.sec-hd{
	transform: skewY(2deg);
	margin-top: 80px;
	text-align: center;
	text-transform: uppercase;
	display: flex;
}
.front{
	border: 1px solid black;
	display: inline-block;
	width: 500px;
}
.clr-media{
	/*height: 500px;*/
	
}
.pg{

	padding: 0px;
	text-shadow: 0 0 5px grey;
	font-family: 'Slabo 27px', serif;
	text-transform: capitalize;
	word-spacing: 1em;
}
.icon{
		padding: 35px;
		transform: skewY(2deg);

}
.icon div{
	text-align: center;	
	position: relative;
	vertical-align: middle;
}
.record{
	height: 700px;

}
.record .fa{
		
		
		font-size: 25px;
		padding: 12px;
		text-align: center;

		/*position: relative;*/
}
.i-font span{
	height: 70px;
		width: 200px;
		border: solid 2px black;
		border-radius: 50%;
		line-height: 70px;
}
.fonticon i{
	border: 2px solid black;
	width:75px;
	height:75px;
	line-height: 50px;
	border-radius: 50%;
}
